@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

body {
    background-color: #6f4e37;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a {
    font-weight: 300;
}

.navbar {
    background-color: #fefefa;
    border: #5d8aa8 2px solid;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.main_content {
    background-color: #848482;
    padding-block: 10px;
    margin-block: 50px;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.menu {
    background-color: #848482;
    padding-inline: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    padding: 50px;
}

.menu_imgs {
    height: 350px;
}